# Ignore the contents of the _site directory
_site/

# Ignore the directory for local files during development
local/
# Ignore a specific publication file
_publications/2009-10-01-paper-title-number-1.md
# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json
